@inherits LayoutComponentBase

<PageTitle>Ticketmain</PageTitle>

<div class="top">
    <NavLink class="nav-link" href="/">
    <div class="title" >
        
    </div>
    </NavLink>
    <div class="subtitle">
        <div>De ticket service voor senioren concerten</div>
    </div>
</div>
<main class="content">
    @Body
</main>
